/* *{
    margin: 0px;
    padding: 0px;
}



nav{
    position: fixed;
}

.container{

} */

/* Set colour variable */
:root{
    /* Main aspects of page */
    --primary:#fed9b7;
    --button_bg:bisque;
    --text_colour:#386641;

    /* Animation colours */
    --one:#80ed99;
    --two:#5fa8d3;
    --three:#ffb600;
    --four:#403d39;
    --fifth:#F2385A;
}



.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: var(--button_bg) !important;
    border: none;
}

/* NAV */
nav{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hover effects on nav button */
#skill_btn:hover{
    color: var(--three)!important;
}
#abt_btn:hover{
    color: var(--two)!important;
}
#work_btn:hover{
    color: var(--fifth)!important;
}
#cont_btn:hover{
    color: var(--one)!important;
}

a{

}

.btn-one{
    font-size: 30px !important;
    color: var(--four)!important;
}

#skill_work_btn{
    text-decoration: none;
    background-color: var(--fifth);
    padding: 15px;
}

/* Animated Font */

.animatedfont {
    padding: 10px;
    background: var(--text_colour);
    font: 5em/1 Open Sans, Impact;
    text-transform: uppercase;
    text-align: center;
}


/* Jumbotron */
.jumbotron{
    border-top: 5px solid var(--one);
    border-bottom: 5px solid var(--one);
    background-image: url(/Users/user/bootcamp/challenge_repos/bootstrap-portfolio/images/mb_b6.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    padding: 15px;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}

.jumbotron h1{
    padding-top: 40px; 
    padding-bottom: 20px;
    font-family: "Nova Flat";
    color: var(--primary);
    text-align: middle;
    text-shadow: -1px -1px 0 var(--fifth), 1px -1px 0 var(--fifth), -1px 1px 0 var(--fifth), 1px 1px 0 var(--fifth);
}
#subtitle{
    color: var(--four);
}

.container img{
    border-radius: 40%;
    max-height: 150px;
    max-width: 150px;
    padding: 0;
    margin: 0;
}

.jumbotron p{
    font-size: 20px;
    float: right;
}

/* Skills section (cards) */
.content{
    padding: 50px;
  }
  .sectionHeading{
    text-align: center;
  }
  .showsNear{
    padding: 0px 30px 30px 30px;
  }
  .cardContainer{
    margin-top: 20px;
    text-align: center;
  }
  .card {
    background-color:var(--primary);
    border: 5px solid var(--three);
    margin: 0 auto;
  }
  
.card img{
    max-height: 400px;
    max-width: 360px;
}
.card-title{
    font-size: 25px;
    color: var(--four);
}
.card-text{
    font-size: 16px;
}

.skill_head{
    font: 5em/1 Open Sans, Impact;
    font-size: 50px;
    text-align: center;
    padding-top: 55px;
}
#skills{
    background-color: var(--two);
}


/* ADDITIONAL CSS (button effect etc) */

/* glowing button */
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color:var(--four);
    background: var(--text_colour);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: var(--text_colour);
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--text_colour);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* navbar button effect */
.btn-one {
    transition: all 0.3s;
    position: relative;
  }
  .btn-one span {
    transition: all 0.3s;
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
  }
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }


  /* Colourful animation */
  /* Main styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
.text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}
.text:nth-child(5n + 1) {
  stroke: #F2385A;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  stroke: var(--three);
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}
.text:nth-child(5n + 3) {
  stroke: var(--four);
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}
.text:nth-child(5n + 4) {
  stroke: var(--one);
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}
.text:nth-child(5n + 5) {
  stroke: var(--two);
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}
@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}


